body
  background: white
  font-family: 'Roboto', sans-serif
  font-size: 16px
.site-container
  width: 750px
  margin: auto

.margines
  width: 750px
  height: 3px
  background-color: #66d9ff

@media (max-width: 768px)
  .site-container
    width: 95vw
